%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %link{ :rel => "shortcut icon", :href=> "/apis/favicon.ico" } 
    %meta{ :content => "text/html; #{@charset}", "http-equiv" => "Content-Type" }
    %link{ :href => "http://www.jcvi.org/cms/fileadmin/template/main/stylesheets/main.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "http://www.jcvi.org/cms/fileadmin/template/main/stylesheets/print_friendly.css", :rel => "stylesheet", :type => "text/css", :media => "print" }
    %link{ :href => "http://www.jcvi.org/cms/fileadmin/template/main/stylesheets/tt_news.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "http://www.jcvi.org/cms/fileadmin/template/main/stylesheets/rte.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "http://www.jcvi.org/cms/fileadmin/template/main/stylesheets/version01.css", :rel => "stylesheet", :type => "text/css" }
    %title
      = @title
    %style{ :type => "text/css" }
      \#middle_content { width: 728px; } #content { padding-left: 20px; } h1 { clear:both;color:#0081B3;font-size:1.5em;font-weight:500;margin-bottom: 1em;}td {padding: 5px;}
  %body
    #logo_search.clearfix
      #logo_container
        #main_logo
          %a{ :href => "http://www.jcvi.org" }
            %img{ :src => "http://www.jcvi.org/cms/fileadmin/template/main/images/header-logo.png", :alt => "JCVI logo" }
        %img#curve{ :src => "http://www.jcvi.org/cms/fileadmin/template/main/images/header-curve.gif", :alt => "" }
        #project
          = @project_name
    #menu_border
      #menu
        #menu_container
          %ul
            %li
              %a{ :href => "http://www.jcvi.org" }
                JCVI Home
    #base
      #main_block
        #top_light.clearfix
          \&nbsp;
        #rounded_top
          %b.spiffy
            %b.spiffy1
              %b
            %b.spiffy2
              %b
            %b.spiffy3
            %b.spiffy4
            %b.spiffy5
        #top_dark
          \&nbsp;
        #content
          = @main_content
        #bottom_dark
          \&nbsp;
        #rounded_bottom
          %b.spiffy
            %b.spiffy5
            %b.spiffy4
            %b.spiffy3
            %b.spiffy2
              %b
            %b.spiffy1
              %b
        #bottom_light
          \&nbsp;
    #home_border
      #home_bar
        #home_container
    %p#legal_container
      \&copy;
      %a{ :href => "http://www.jcvi.org" }
        J. Craig Venter Institute
      |&nbsp;
      %a{ :href => "http://www.jcvi.org/cms/legal/privacy-statement/" }
        Privacy Statement
      \&nbsp;|&nbsp;
      %a{ :href => "http://www.jcvi.org/cms/legal/data-disclaimer/" }
        Data Disclaimer
      \&nbsp;
    %script var is_production = true;var dev_test = /(-dev)|(-test)/;var hostname = location.hostname;if(hostname.search(dev_test) != -1) {is_production = false;} // end if(hostname.search(dev_test) != -1)if(is_production) { var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www."); document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));} // end if(is_production)
    %script if(is_production) { try {var pageTracker = _gat._getTracker("UA-9809410-3");pageTracker._setDomainName(".jcvi.org");pageTracker._trackPageview();} catch(err) {}} // end if(is_production)

			
